@font-face {
    font-family: Barrio;
    src: url(../fonts/Barrio-Regular.ttf)
  }

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#container-geral {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#valor {
    font-size: 18px;
}

#inp {
    padding: 5px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#inp:focus {
    border: 1px solid black;
}

#btn {
    margin-left: 7px;
    padding: 5px 15px;
    background: #99e0b2;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#btn:hover {
    border: 1px solid black;
}

#sec {
    background-color: #F8F3FF;
}

#rodape {
    font-size: 12px;
}

#link {
    color: #141414;
    background-color: #99e0b2;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    body {
        background-color: rgb(232, 232, 232);
        text-align: center;
    }
    #inp {
        width: 150px;
    }
    #btn {
        width: 100px;
        height: 30px;
        font-weight: bold;
    }
}